<!DOCTYPE html>
<html>
  <head>
    <title>Public Knowledge Base Semantic Search</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
      td {
          text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="my-4">Public Knowledge Base Search</h1>
      <div>Searching through a custom knowledge base is difficult. This app allows you to perform a semantic search on the instructions for completing <a href="https://www.irs.gov/pub/irs-pdf/i1040gi.pdf">Form 1040 </a>for federal US Income taxes. Traditional search can be frustrating, due to the length and density. </div><br>
      <br>
      <form id="search-form">
        <div class="form-group">
          <h5>Sample Questions:</h5>
          <div clas="form-group" id="sample-questions" style="text-align:center;width:65%;margin:auto;border:3px black">
            
            <table>
              <tr>
                <td><button class="btn btn-primary" id="sample1">What goes on line 40?</button></td>
                <td><button class="btn btn-primary" id="sample2">When will refunds be issued?</button></td>
              </tr>
              <tr>
                <td><button class="btn btn-primary" id="sample3">On what line do I enter stock options?</button></td>
                <td><button class="btn btn-primary" id="sample4">When do I need to pay?</button></td>
              </tr>
            </table>
          </div><br>

          <label for="query">Search Query:</label>
          <input type="text" class="form-control" id="query" name="query">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      <div id="loading" class="mt-4 d-none">
        <p>Loading...</p>
      </div>
      <div id="results" class="mt-4"></div>
    </div>
    <!-- Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>


